# Nestjs specific
/dist
**/dist
node_modules
/build
/tmp

# Nx
.nx
.cache

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# temp directory
.temp
.tmp

.DS_Store
.idea
coverage

libs/postgres-storage/prisma/generated

# Performance test reports
perf/
.scratch