name: PR Checks - Docker

on:
  pull_request:
    branches:
      - '**'

jobs:
  build-and-validate:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: dismissible
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      dismissible-dynamodb:
        image: localstack/localstack:latest
        env:
          SERVICES: dynamodb
          AWS_DEFAULT_REGION: us-east-1
          DEBUG: 0
        ports:
          - 4566:4566

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
          load: true
          tags: dismissible-api
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Test Docker image
        run: ./scripts/test-docker-image.sh dismissible-api
