name: Release

on:
  workflow_dispatch:
  push:
    branches:
      - main

# Prevent concurrent releases
concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: false

jobs:
  release:
    # This prevents the workflow from running when triggered by a release commit
    if: "!startsWith(github.event.head_commit.message, 'chore: release') && github.actor != 'dismissible[bot]'"
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: dismissible
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

      dismissible-dynamodb:
        image: localstack/localstack:latest
        env:
          SERVICES: dynamodb
          AWS_DEFAULT_REGION: us-east-1
          DEBUG: 0
        ports:
          - 4566:4566

    steps:
      - name: Generate Token
        id: generate_token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.RELEASE_APP_ID }}
          private-key: ${{ secrets.RELEASE_APP_SECRET }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm
          registry-url: https://registry.npmjs.org

      - name: Install
        run: npm ci

      - name: Storage init
        run: npm run storage:init

      - name: Run storage setup
        run: npm run storage:setup

      - name: Build
        run: npm run build

      - name: Test
        run: npm run validate

      - name: Configure Git
        run: |
          git config user.email "dismissible[bot]@users.noreply.github.com"
          git config user.name "dismissible[bot]"

      - name: Release
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx nx release version --git-push --git-tag
